<!DOCTYPE html>
<html>
  <head>
    <title>Upsocl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Encabezado -->
    <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
               <%=image_tag("img/logo.png")%>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" style=" margin-top: 15px;">
                <li > <h4> <%= link_to "Inicio", root_path, id: "inicio", class: "sin" %> </h4> </li>
                <li> <h4> <%= link_to "Ver Usuarios", users_path, id: "inicio", class: "sin" %> </h4> </li>
              </ul>
            </div>
          </div>
        </nav>
  <!--fin de Encabezado -->


    <%= yield %>


  <footer class="container-fluid bg-4 text-center">
    <p>Upsocl Theme Made By  <strong>Juan Pabon</strong> </p> 
  </footer>
  
  </body>
</html>
